{% extends 'base_nav.html' %}

{% block content %}
<nav>
    <h1>
        <a href="{% url 'posts:feeds' %}">delicate dunbar</a>
    </h1>
</nav>
<div>
    <h1>Post 작성</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_images">이미지</label>
            <input type="file" id="id_images" name="images" multiple>
        </div>
        {{ form.as_div }}
        <div>
            <label for="">해시태그</label>
            <input type="text" name="tags" placeholder="쉼표로 구분해서 여러 태그를 입력">
        </div>
        <button type="submit">게시</button>
    </form>
</div>
{% endblock %}