{% extends 'base_aside.html' %}

{% block content %}
<main class="main">
  <article class="tag__article">
    <header class="tag__header">
        <h2 class="tag__title">#{{ tag_name }}</h2>
        <span>{{ posts.count }}건의 게시물</span>
    </header>
    <div class="tag__items">
    {% for post in posts %}
        {% if post.postimage_set.first and post.postimage_set.first.photo %}
        <a href="{% url 'posts:post_detail' post_id=post.id %}" class="tag__item">
            <img src="{{ post.postimage_set.first.photo.url }}" alt="" class="tag__image">
            <div class="tag__overview">{{ post.content|truncatechars:15 }}</div>
        </a>
        {% endif %}
        {% empty %}
        <p>검색된 게시물이 없습니다</p>
    {% endfor %}
    </div>
  </article>
</main>
{% endblock %}