{% extends 'base_aside.html' %}

{% block content %}
<div>
  <header>
    <h2>#{{ tag_name }}</h2>
    <div>게시물 {{ posts.count }}</div>
  </header>
  <div>
    {% for post in posts %}
      {% if post.postimage_set.first and post.postimage_set.first.photo %}
      <div>
        <a href="{% url 'posts:post_detail' post_id=post.id %}">
          <img src="{{ post.postimage_set.first.photo.url }}" alt="">
        </a>
      </div>
      {% endif %}
      {% empty %}
        <p>검색된 게시물이 없습니다</p>
    {% endfor %}
  </div>
</div>
{% endblock %}