{% extends 'base_nav.html' %}

{% block content %}
<nav>
  <h1>
    <a href="{% url 'posts:feeds' }">delicate dunbar</a>
  </h1>
  <a href="{% url 'posts:post_add' %}">Add Post</a>
  <a href="{% url 'users:logout' %}">Logout</a>
</nav>
<div>
  <header>
    <h2>#{{ tag_name }}</h2>
    <div>게시물 {{ posts.count }}</div>
  </header>
  <div>
    {% for post in posts %}
      {% if post.postimage_set.first and post.postimage_set.first.photo %}
      <div>
        <a href="{% url 'posts:post_detail' post_id=post.id %}">
          <img src="{{ post.postimage_set.first.photo.url }}" alt="">
        </a>
      </div>
      {% endif %}
      {% empty %}
        <p>검색된 게시물이 없습니다</p>
    {% endfor %}
  </div>
</div>
{% endblock %}