{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '@splidejs/splide/dist/css/splide.min.css' %}">
    <script src="{% static '@splidejs/splide/dist/js/splide.js' %}"></script>
{% endblock %}

{% block base_content %}
    <div class="layout">
        {% include 'aside.html' %}
        <main class="main">
        {% block content %}{% endblock %}
        </main>
        <script>
            const elms = document.getElementsByClassName('splide');
            for (let i = 0; i < elms.length; i++) {
                new Splide(elms[i]).mount();
            }
        </script>
    </div>
{% endblock %}
