{% extends 'base_profile.html' %}

{% block bottom_data %}
<article class="follow__article">
    {% if relationships %}
      {% for relationship in relationships %}
        <div class="follow__principal">
          <a href="{% url 'users:profile' user_id=relationship.to_user.id %}" class="follow__link">
            {% if relationship.to_user.profile_image.url %}
              <img src="{{ relationship.to_user.profile_image.url }}" alt="" class="principal__image">
            {% endif %}
            <div class="follow__profile">
              <span>{{ relationship.to_user.username }}</span>
              <span>{{ relationship.created|date:"y년 m월 d일에 팔로잉함" }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <div class="follow__principal">
          <div class="follow__profile">
            <span>현재 해당 회원의 팔로워가 없습니다</span>
          </div>
      </div>
    {% endif %}
</article>
{% endblock %}