{% extends 'base_access.html' %}

{% block content %}
<article class="access__article">
    <form method="POST" class="access__form">
        {% csrf_token %}
        <div class="access__header">
            <h1 class="access__title">로그인</h1>
            {% if form.non_field_errors %}
            <small class="invalidate">{{ form.non_field_errors.0 }}</small>
            {% endif %}
        </div>
        <div class="input__binder">
            <label for="" class="input__label">아이디</label>
            {{ form.username }}
        </div>
        <div class="input__binder">
            <label for="" class="input__label">비밀번호</label>
            {{ form.password }}
        </div>
        <div class="button__binder">
            <button type="submit" class="button button--access button--interaction">로그인</button>
        </div>
        <a href="{% url 'users:signup' %}" class="access__link">회원가입 페이지로 이동</a>
        <a href="/admin/" class="access__link">관리자 페이지로 이동(개발용)</a>
        <p>
            <span>관리자 아이디</span>
            <span>id => python | password => 1234</span>
        </p>
        <p>
            <span>일반 아이디</span>
            <span>id => user1234 | password => 1234</span>
        </p>
    </form>
</article>
{% endblock %}